beautifulsoup4
blinker
docutils
feedgenerator
Jinja2
Markdown
MarkupSafe
pelican
pelican-webassets
pelican-liquid-tags
pelican-tag-cloud
cssmin
libsass
webassets
Pygments
python-dateutil
pytz
soupsieve
Unidecode
