/* Typography: media layouts */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
	body
		background-color: yellow !important
		font-size: 13px
	
	.bleakad 
		max-width: 100% !important
		max-height: 100%
		min-width: 80px
	
	.icon-label
		font-size: 18px
	
	.list-group-item
		font-size: 15px
	
	h2
		font-size: 20px !important
	

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
	body
		background-color: black !important
		font-size: 13px
	
	.bleakad
		max-width: 3.0vh !important
		max-height: auto
		min-width: 80px
	
	.icon-label
		font-size: 18px
	
	.list-group-item
		font-size: 15px
	
	h2
		font-size: 20px !important
	

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px)
	body
		background-color: white !important
	
	.bleakad
		max-width: 5.0vh !important
		min-width: 3.0vh
		height: auto
		max-height: auto

/* Filling a possible gap in display size */
@media only screen and (max-width: 960px)
	.sm-icons .nav-item
	  padding-right: 1em
	
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
	body
		background-color: green !important

	.bleakad
		max-width: 8.0vh !important
		min-width: 8.0vh
		height: auto
		max-height: auto

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
	body
		background-color: #1b1b1b !important

	.bleakad
		max-width: 21.0vh !important
		height: auto
		max-height: auto
		min-width: 20.0vh

	.list-group-item
		background-color: black


